* { box-sizing: border-box; font-family: Arial; }

body {
  margin: 0;
  background: #ece5dd;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.login-box input, button {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: #075E54;
  color: white;
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.new-chat {
  display: flex;
  padding: 5px;
}

.new-chat input {
  flex: 1;
}

#chatList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#chatList li {
  padding: 10px;
  border-bottom: 1px solid #0b6b61;
  cursor: pointer;
}

.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#chatHeader {
  padding: 10px;
  background: #ededed;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg-me {
  background: #dcf8c6;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 5px;
  align-self: flex-end;
}

.msg-other {
  background: white;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 5px;
  align-self: flex-start;
}

.send-box {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
  }
