body {
  margin: 0;
  font-family: Arial;
  background: #e5ddd5;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.login-box input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: #075E54;
  color: white;
  padding: 10px;
}

.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #ece5dd;
}

.msg-me {
  text-align: right;
  margin: 5px;
  background: #dcf8c6;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
}

.msg-other {
  text-align: left;
  margin: 5px;
  background: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
}
